

.fixed-header.am-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.list-content.am-wingblank {
    margin-bottom: 50px;
    z-index: 0;
}

.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
    z-index: 10;
}

.am-card-body hr {
    margin-right: 50%;
    align-self: flex-start;
}

.page-content{
    padding:45px 5px;
}